h2 {
    font-weight: 800;
    font-size: 22px;
    padding-left: 10px;
    border-left: 5px solid rgba(2, 195, 154, 1);
}

h3 {
    font-weight: 800;
    font-size: 20px;
    padding-left: 10px;
    border-left: 5px solid rgba(2, 195, 154, 1);
    margin-left: 30px;
    margin-top: 20px;
}

h4 {
    font-weight: 800;
    font-size: 18px;
    padding-left: 10px;
    border-left: 5px solid rgba(2, 195, 154, 1);
    margin-left: 60px;
    margin-top: 20px;
}

.inline-code2 code.hljs {
    display: inline;
    padding: 3px;
}

.inline-code2 pre {
    display: inline;
}

.inline-code2 {
    display: inline;
}

.inline-code {
    display: inline;
    background-color: #333333;
    color: white;
    padding: 3px;
    font-weight: 400;
    font-family: "Sans Mono", "Consolas", "Courier", monospace;
}

a {
    color: rgba(5, 102, 141, 1);
}

a:hover {
    color: #f4a261;
}

#sidebar-lg-header img {
    max-width: none;
    margin: 50px 0 0px 0;
}

.sidebar-sm img {
    max-width: none;
    padding: 0;
    margin: 0;
}

@media (max-width: 992px) {
    .accord img {
        max-width: 50%;
        height: auto;
    }
    .scale img {
        max-width: 100%;
        height: auto;
    }
}

.code {
    overflow-x: scroll;
}