
.container  a {
    color: rgba(5, 102, 141, 1);
}

.container a:hover {
    color: #f4a261;
}
pre{
    margin: 0;
}

/* CODE HIGHLIGHT */

.hljs {
    background: #f0f0f0 !important;
  }

.inline-code2 code.hljs {
    display: inline;
    padding: 3px;
}

.inline-code2 pre {
    display: inline;
}

.inline-code2 {
    display: inline;
}

.inline-code {
    display: inline;
    background-color: #333333;
    color: white;
    padding: 3px;
    font-weight: 400;
    font-family: "Sans Mono", "Consolas", "Courier", monospace;
}

/* CODE HIGHLIGHT */


@media (max-width: 992px) {
    .accord img {
        max-width: 50%;
        height: auto;
    }
    .scale img {
        max-width: 100%;
        height: auto;
    }
    .inline-code2 {
        max-width: 100%;
        display: inline-block;
        overflow-x: scroll;
    }
}

.code {
    overflow-x: scroll;
}

#logoright span{
    font-size: 0.8em;
}
#logoright i{
    font-size: 1.5em;
    margin: 5px;
}