img{
    max-width: 400px;
    height: auto;
    margin: 20px;
}
/* CODE HIGHLIGHT */

#schemaimg{
    width: 600px!important;
    max-width: 600px !important;
}
.hljs {
    background: #ebebeb !important;
  }

.inline-code2 code.hljs {
    display: inline;
    padding: 3px;
}

.inline-code2 pre {
    display: inline;
}

.inline-code2 {
    display: inline;
}

.inline-code {
    display: inline;
    background-color: #333333;
    color: white;
    padding: 3px;
    font-weight: 400;
    font-family: "Sans Mono", "Consolas", "Courier", monospace;
}

/* CODE HIGHLIGHT */


@media (max-width: 992px) {
    img {
        max-width: 100%;
        height: auto;
    }
}


#doublematrix{
    width: 80%;
}


#right-panel img{
    width: 400px;
    height: auto;
}

#logoright span{
    font-size: 0.8em;
}
#logoright i{
    font-size: 1.5em;
    margin: 5px;
}