body {
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    color: black;
    background: #F0F0F0;
    font-size:15px;
}

a:hover {
    color: inherit;
    text-decoration: none;
}

a {
    color: inherit;
}



/* Content */


h1 {
    margin: 0 0 10px 0;
    display: block;
    font-size: 1.8em;
    font-weight: 600;
}


h2 {
    margin: 0px 0 10px 0;
    display: block;
    font-size: 1.6em;
    font-weight: 600;
}


h3 {
    margin: 10px 0 10px 0;
    display: block;
    font-size: 1.4em;
    font-weight: 600;
}


h4 {
    margin: 10px 0 10px 0;
    display: block;
    font-size: 1.2em;
    font-weight: 600;
}


.chevron-color{
    color:#F26419
}


/* HEADER */


#topnav{
    background-color:#037B89;
    color: white;
    font-weight: 600;
    font-size: 14px;
    padding: 10px 0px;
}
#topnav nav>div{
margin: 0 10px;
}

#container-top-svg{
    position: relative;
}
#container-top-svg a:hover{
    color:#bbbbbb;

}

.logotop{
    display: flex;
    margin: 0 40px 0 0;

}
.logotop i{

    margin: 0 0 0 20px;

}
#svg-triangle{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-filter: drop-shadow( 0px 2px 2px rgba(0, 0, 0, .3));
    filter: drop-shadow( 0px 2px 2px rgba(0, 0, 0, .3));
}


/* BOX */


.part-content{
    background-color: #F8F8F8;
    width: 100%;
    margin: 40px 0;
    padding: 20px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
    border-radius: 2px;
}

/* Content */

#langage-skill-container div{
    width: 75px;
    margin: 10px;

}
#iambox p {
    margin-bottom:-0.5em;
    margin-left: 1.7em;
    font-weight: 100;
}



.box-proj {
    border-left: 5px solid #F26419;
    width: 100%;
    background-color: #F8F8F8;
    margin: 10px 0;
    padding: 20px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
    border-radius: 2px;
    height: 330px;
}

.box-proj h2 {
    padding: 10px 0 0 0;
    font-size: 1.3em;
    font-weight: 800;
}

.box-proj p {
    font-size: 0.8em;
    font-weight: 100;
}

.box-proj a {
    color: rgba(5, 102, 141, 1);
}

.box-proj a:hover {
    color: #f4a261;
}

#maybe{
    display: none;
}
.diplome{
    font-size: 0.9em;
}

.diplome ul{
        list-style-type: none;
}

.diplome ul i{
    font-size: 0.8em;
    color:black;
}

/* FOOTER */

.footer{
    /* If parent has no padding, margin of child apply to parent. So if we want the margin work we can add a little padding to parent or overflow:auto */
    position: relative;
    background: linear-gradient(180deg, rgba(3,123,137,1) 0%, rgba(0,63,103,1) 100%);
    color: white;
}

#svg-triangle-footer{
    position: absolute;
    left: 50%;
    top: -20px;
    transform: translateX(-50%);
    -webkit-filter: drop-shadow( 0px 2px 2px rgba(0, 0, 0, .3));
    filter: drop-shadow( 0px 2px 2px rgba(0, 0, 0, .3));
}

.footer a:hover{
    color:#bbbbbb;

}

#footerlogocontainer{
    width: 70%;
    margin: 75px 0 60px 0;
    display: flex;
    justify-content: space-between!important;
}
#footerlogocontainer{
font-size: 0.8em;
}
#footerlogocontainer div{
    width: 200px;
    }
    
#footerlogocontainer div i{
    font-size: 1.5em;
    margin-bottom: 10px;
}


@media(max-width:576px){
    .logotop{
        display: flex;
        margin: 0 20px 0 0;
    
    }

    #footerlogocontainer{
        width: 100%;
        margin: 50px 0 50px 0;
        display: flex;
        justify-content: space-between!important;
    }

    #titleofproject{
        flex-direction: column;
    }

    #logoright{
        margin-right: auto;
    }
    .box-proj {
        height: 360px;
    }
    #principe-util{
        flex-wrap: nowrap;
        flex-direction: column;
    
    }
    #principe-util div {
        font-size: 12px!important;
        margin: 5px 0 !important;
        margin-right:auto!important;
    
    }
}

@keyframes highlight-footer {
    0% {
        top: -75px;
    }
  
    25% {
        top:-90px;
    }
      
    35% {
        top:-75px;
    }
    50% {
        top:-90px;
    }
    65% {
        top:-75px;
    }
    100% {
        top:-20px;
    }
  }

#svg-triangle-footer{
    animation-duration: 2s;
}

#principe-util-box{
margin: -20px 0;
}
#principe-util div {
    font-size: 14px;
    margin: 0 10px;

}
/* A partir d'ici code de fretboard*/